/* ====================================================================== */

.about img{
    width: 100%;
    
}
.about h3{
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    margin-bottom: 0;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.about .about-list ul{
    padding-left: 0;
}
.about .about-list li{
    text-align: left;
    list-style: none;
    font-size: 18px;
    font-family: 'Roboto';
}
.about .about-list i{
    padding-right: 10px;
}

/* ====================================================================== */

.about .siva .siva-content-1 p{
    text-align: left;
    font-family: 'Roboto';
    padding: 0
}
.about .siva .siva-content-2 img{
    margin-bottom: 15px;
}
.about .siva .siva-content-2 img:hover{
    box-shadow: 0 10px 30px rgba(57,56,61,0.1);
}
/* ====================================================================== */
.about .education-row .education-table{
    padding: 0;
}
th,td{
    font-family: 'Titillium Web', sans-serif;
}

/* Main pop up animation===================================================== */
.animation3{ 
    animation: fade 1s ease-in;
    transform-origin: center bottom;
}
@keyframes fade { 
    from{
        opacity: 0;
        /* transform: scale3d(.75,.75,1); */
        transform: translateX(-150px);
    }
    to{
        opacity: 1;
        /* transform: scale3d(1,1,1); */
        transform: translateX(0);
    }
}
.animation4{ 
    animation: fade1 1s ease-in;
    transform-origin: center bottom;
}
@keyframes fade1 { 
    from{
        opacity: 0;
        transform: translateX(150px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

/*my projects ==================================================================== */
.myprojects .about-project{
    margin-bottom: 60px;
}
.myprojects .about-project h2{
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 35px;
    margin-bottom: 2PX;
    letter-spacing: 1.5px;
    
    
}
.myprojects img{
    padding: 1px;
}

.myprojects .project-list .card{
    width: 100%;
    /* border-style: none; */
    font-family: 'Titillium Web', sans-serif;
    box-shadow: 0 10px 30px rgba(57,56,61,0.1);
    margin-bottom: 9px;
}

.myprojects .project-list .card .btn{
    padding: 7px 10px;
    font-size: 13px;
}
.myprojects .project-list .card h5{
    font-weight: 600;
    margin-bottom: 5px;
}
.card-img-top{
    height: 190px;
}

.myprojects .card-body{
    padding: 10px 0;
    text-align: center;
    background: white;
    
}

.myprojects .project-list .content h1{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}
.myprojects .project-list .content{
    font-family: 'Nunito';
    font-weight: 500;
    letter-spacing: 0.5px;
}   
.myprojects .project-list .content li{
    list-style: none;
}
.myprojects .project-list .content ul{
    padding: 0;
}
.myprojects .project-list .content i{
    padding-right: 3px;
}
/* button---------------------- */
.myprojects .button{
    padding: 10px 20px;
    font: 'Roboto';
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

.myprojects .button{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    color: white;
    transition: background 0.6s ease;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.2);
}
.myprojects .button::after{
    position: absolute;
    top: -2px;left: -2px;bottom: -2px;right: -2px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    content: '';
    z-index: -1;
    border-radius: 4px;
}
.myprojects .button:hover{
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background-clip: padding-box;
    color: white;
}

/* ===================================================================== */
@media only screen and (max-width: 400px) {
    .about h3{
        font-size: 30px;
    }
    .about .about-list li{
        font-size: 9px;
    }
    .about .siva .siva-content-1 p{
        font-size: 15px;
    }
  }