html{
    scroll-behavior: smooth;
}
/* for smooth scroll */
body{
    background: #cad3f0;
}
.main{
    padding: 0 2rem;
}

/* NAVBAR SECTION================================================================================== */
.header .main-menu .navbar{
    padding: 0.5rem;
}
.header .main-menu .navbar .nav-link{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 20px;
    padding-top: 10px;
}
.header .main-menu .navbar .active a{
    color: #854fee;
}
.header .main-menu .navbar .nav-link:hover{
    color: #5fa1ff;
}
.header .main-menu .navbar-brand img{
    width: 70px;
    height: 70px;
}
/*MAIN LANDING PAGE SECTION ================================================================ */
.main-page .main-content{
    margin-top: 15%;
}
.main-page img{
   width: 100%;
}
.main-page .main-content h3{
    margin-bottom: 0;
    font-weight: 500;
}
.main-page .main-content h1{
    font-weight: 700;
    font-family: 'Roboto';
    font-size: 3rem;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.main-page .main-content h5{
    font-weight: 700;
    letter-spacing: 0;
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 18px;
    
}

.main-page .main-content .button{
    padding: 10px 20px;
    font: 'Roboto';
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.main-page .main-content .primary-button{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    color: white;
    transition: background 0.6s ease;
}
.main-page .main-content .primary-button::after{
    position: absolute;
    top: -2px;left: -2px;bottom: -2px;right: -2px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    content: '';
    z-index: -1;
    border-radius: 4px;
}
.main-page .main-content .primary-button:hover{
    background: white;
    background-clip: padding-box;
    color: black;
}
/* Main pop up animation */
.animation1{ 
    animation: fade 1s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: center bottom;
}
@keyframes fade { 
    from{
        opacity: 0;
        /* transform: scale3d(.75,.75,1); */
        transform: translateX(-150px);
    }
    to{
        opacity: 1;
        /* transform: scale3d(1,1,1); */
        transform: translateX(0);
    }
}
.animation2{ 
    animation: fade1 1s cubic-bezier(0,1.07,0.72,1.42);
    transform-origin: center bottom;
}
@keyframes fade1 { 
    from{
        opacity: 0;
        transform: translateX(150px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* Scroll animations using JS*/
.reveal{ 
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{ 
    transform: translateY(0px);
    opacity: 1;
}

/* ABOUT SECTION================================================================= */
.about{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 80px;
}
.about img{
    width: 100%;
    margin-bottom: 18px;
}
.about h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 28px;
}
.about hr{
    margin-bottom: 40px;
    width: 100px;
}
.about p{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    padding: 0 25px;
    font-size: 18px;
    line-height: 30px;
    
}
.about .button{
    padding: 10px 20px;
    font: 'Roboto';
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}
.about .button{
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    background-clip: padding-box;
    color: white;
    transition: background 0.6s ease;
    box-shadow: 0px 10px 30px rgba(57,56,61,0.2);
}
.about .button::after{
    position: absolute;
    top: -2px;left: -2px;bottom: -2px;right: -2px;
    background: linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    content: '';
    z-index: -1;
    border-radius: 4px;
}
.about .button:hover{
    background: white;
    background-clip: padding-box;
    color: black;
}

/*TOOLS SECTION ======================================================= */

.tools h1{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 0;
}
.tools p{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    padding: 0 25px;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
}
.tools img{
    margin-top: 40px;
    width: 100%;
}

/* SERVICES SECTION============================================================= */
.service-area{
    margin-bottom: 120px;
}
.service-area .service-title h1{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 0;
}
.service-area .service-list .services .services-img img{
    width: 50%;
}

.service-area .service-list .services .card-body{
    padding-top: 0;
}
.service-area .service-list{
    margin-top: 70px;
}
/* shadow animation------------ */
.service-area .services{
    transition: box-shadow 0.7s,border-radius 0.7s,transform 0.7s;
}
.service-area .services:hover{
    /* box-shadow: 0 10px 30px rgba(57,56,61,0.1); */
    border-radius: 8px; 
    transform: translateY(-15px);
}

/* SOCIAL SECTION------------------------------- */
footer .social h3{
    font-size: 25px;
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    color: black;
}
footer .social a i{
    padding: 10px 18px;
    font-size: 30px;
    /* color: #45474A; */
    /* color: whitesmoke; */
    color: #606467;
}
footer .social a i:hover{
    color: #898B8E;
}
footer p{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif; 
    color: #55575A;
    margin-bottom: 0;

}
/* scroll button */
.go-top i{
    padding: 10px;
    border: 1px solid #55575A;
    border-radius: 50%;
    color: #55575A;
    transition: 0.3s box-shadow;
    
}
.go-top{
    margin-bottom: 7px;
    
}
.go-top i:hover{
    box-shadow:  0px 2.5px 7.5px rgba(57,56,61,0.2);
    
}


/* =========================================================== */
@media only screen and (max-width: 400px) {
    .tools p{
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        padding: 0 25px;
        font-size: 15px;
        line-height: 20px;
        padding: 0;
    }
    .about p{
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        padding: 0 25px;
        font-size: 15px;
        line-height: 20px;
        
    }
    .service-area .service-list .services .card-body p{
        line-height: 20px;
        font-size: 15px;
    }
   
  }